In [2]:
from sqlalchemy import create_engine,MetaData,String,Integer,Column,Table,text,and_,select,update,ForeignKey

In [3]:
engine = create_engine("mysql+pymysql://chiragbangera:Chirag#123@localhost/college", echo=True)

In [4]:
conn = engine.connect()

2022-05-12 00:10:52,554 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-05-12 00:10:52,556 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-12 00:10:52,559 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-05-12 00:10:52,561 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-12 00:10:52,567 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-05-12 00:10:52,568 INFO sqlalchemy.engine.Engine [raw sql] {}

In [16]:
meta = MetaData(engine)

In [6]:
students = Table('students',meta,autoload=True)

2022-05-12 00:10:58,382 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `students`
2022-05-12 00:10:58,383 INFO sqlalchemy.engine.Engine [raw sql] {}

In [43]:
s = students.select()
res = conn.execute(s)
for row in res:
    print(row)

2022-05-10 21:31:56,264 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2022-05-10 21:31:56,267 INFO sqlalchemy.engine.Engine [cached since 263.6s ago] {}
(1, 'Rajiv', 'Khanna')
(2, 'Komal', 'Bhandari')
(3, 'Abdul', 'Sattar')
(4, 'Priya', 'Rajhans')

In [47]:
#using text
t = text("select* from students")
res_1=conn.execute(t)
for roe in res_1:
    print(roe)

2022-05-10 21:49:30,175 INFO sqlalchemy.engine.Engine select* from students
2022-05-10 21:49:30,178 INFO sqlalchemy.engine.Engine [cached since 47.83s ago] {}
(1, 'Rajiv', 'Khanna')
(2, 'Komal', 'Bhandari')
(3, 'Abdul', 'Sattar')
(4, 'Priya', 'Rajhans')

In [61]:
s_1 = text("select students.name, students.lastname from students where (students.name between :x and :y) and (students.id>2)")

conn.execute(s_1,x='A',y='Z').fetchall()

2022-05-10 22:03:01,849 INFO sqlalchemy.engine.Engine select students.name, students.lastname from students where (students.name between %(x)s and %(y)s) and (students.id>2)
2022-05-10 22:03:01,854 INFO sqlalchemy.engine.Engine [generated in 0.00507s] {'x': 'A', 'y': 'Z'}

[('Abdul', 'Sattar'), ('Priya', 'Rajhans')]

In [11]:
##Updae statement
stuupt = students.update().where(students.c.lastname =="Khanna").values(lastname="Bangera")

In [13]:
conn.execute(stuupt)

2022-05-11 23:28:08,669 INFO sqlalchemy.engine.Engine UPDATE students SET lastname=%(lastname)s WHERE students.lastname = %(lastname_1)s
2022-05-11 23:28:08,672 INFO sqlalchemy.engine.Engine [cached since 22.79s ago] {'lastname': 'Bangera', 'lastname_1': 'Khanna'}
2022-05-11 23:28:08,676 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
conn.execute(text("select* from students")).fetchall()

2022-05-11 23:30:44,561 INFO sqlalchemy.engine.Engine select* from students
2022-05-11 23:30:44,563 INFO sqlalchemy.engine.Engine [generated in 0.00224s] {}

[(1, 'Rajiv', 'Bangera'),
 (2, 'Komal', 'Bhandari'),
 (3, 'Abdul', 'Sattar'),
 (4, 'Priya', 'Rajhans')]

In [20]:
##Deleting data
stu_del = students.delete().where(students.c.id>2)

In [17]:
addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer), 
   Column('postal_add', String(25)), 
   Column('email_add', String(25))
)
meta.create_all(engine)

2022-05-12 00:15:21,017 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-12 00:15:21,019 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-05-12 00:15:21,021 INFO sqlalchemy.engine.Engine [cached since 66.8s ago] {'table_schema': 'college', 'table_name': 'addresses'}
2022-05-12 00:15:21,026 INFO sqlalchemy.engine.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL AUTO_INCREMENT,
	st_id INTEGER,
	postal_add VARCHAR(25),
	email_add VARCHAR(25),
	PRIMARY KEY (id)
)


2022-05-12 00:15:21,028 INFO sqlalchemy.engine.Engine [no key 0.00167s] {}
2022-05-12 00:15:21,055 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
conn.execute(addresses.insert(), [
   {'st_id':1, 'postal_add':'Shivajinagar Pune', 'email_add':'ravi@gmail.com'},
   {'st_id':1, 'postal_add':'ChurchGate Mumbai', 'email_add':'kapoor@gmail.com'},
   {'st_id':3, 'postal_add':'Jubilee Hills Hyderabad', 'email_add':'komal@gmail.com'},
   {'st_id':5, 'postal_add':'MG Road Bangaluru', 'email_add':'as@yahoo.com'},
   {'st_id':2, 'postal_add':'Cannought Place new Delhi', 'email_add':'admin@khanna.com'},
])

2022-05-12 00:15:39,325 INFO sqlalchemy.engine.Engine INSERT INTO addresses (st_id, postal_add, email_add) VALUES (%(st_id)s, %(postal_add)s, %(email_add)s)
2022-05-12 00:15:39,328 INFO sqlalchemy.engine.Engine [generated in 0.00297s] ({'st_id': 1, 'postal_add': 'Shivajinagar Pune', 'email_add': 'ravi@gmail.com'}, {'st_id': 1, 'postal_add': 'ChurchGate Mumbai', 'email_add': 'kapoor@gmail.com'}, {'st_id': 3, 'postal_add': 'Jubilee Hills Hyderabad', 'email_add': 'komal@gmail.com'}, {'st_id': 5, 'postal_add': 'MG Road Bangaluru', 'email_add': 'as@yahoo.com'}, {'st_id': 2, 'postal_add': 'Cannought Place new Delhi', 'email_add': 'admin@khanna.com'})
2022-05-12 00:15:39,333 INFO sqlalchemy.engine.Engine COMMIT

In [19]:
q = select([students,addresses]).where(students.c.id==addresses.c.st_id)
res = conn.execute(q)
for row in res:
    print(row)

2022-05-12 00:17:48,539 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname, addresses.id AS id_1, addresses.st_id, addresses.postal_add, addresses.email_add
FROM students, addresses
WHERE students.id = addresses.st_id
2022-05-12 00:17:48,541 INFO sqlalchemy.engine.Engine [generated in 0.00216s] {}
(1, 'Rajiv', 'Bangera', 1, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Rajiv', 'Bangera', 2, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')
(3, 'Abdul', 'Sattar', 3, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com')
(2, 'Komal', 'Bhandari', 5, 2, 'Cannought Place new Delhi', 'admin@khanna.com')